<div class="view">
  <div class="layout layout--row">
    <div class="column">
      <table
        class="table table--condensed"
        id="dispatch-table"
        style="width:100%">
        <thead>
          <tr>
            <th style="width:5%">
              <span class="label">&nbsp;</span>
            </th>
            <th>
              <span class="label">Description</span>
            </th>
            <th style="width:15%">
              <span class="label">Received</span></th>
            <th>
              <span class="label">Location</span>
            </th>
            <th>
              <span class="label">Zone</span>
            </th>
          </tr>
        </thead>
        <tbody id="dispatch-tbody">
          <tr>
            <td colspan="5" class="text--center">Loading...</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="title_bar">
    <img
      class="image"
      src="https://raw.githubusercontent.com/stephenyeargin/trmnl-dashboard/refs/heads/main/mnpd-dispatches/assets/mnpd.png"
      width="28"
      height="28">
    <span class="title">Metro Nashville Police Department Active Dispatches</span>
    <span class="instance">data.nashville.gov</span>
  </div>
</div>

{% render "table_javascript" count: 12, size: "wide" %}

<script>
  const data = {
    features: {{ features | json }}
  };
  loadDispatches();
</script>
